.navbar {
  width: 100%;
  background: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 2px solid var(--clr-secondary);
}

.nav-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--clr-accent);
  letter-spacing: 0.1rem;
}

.nav-left > h1 {
  background: linear-gradient(90deg, #15b35c 0%, #38c97f 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: var(--clr-icon);
}

@media screen and (max-width: 370px) {
  .nav-left svg {
    display: none;
  }
  .nav-right {
    gap: 0.7rem;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 1rem 1rem;
  }
  .nav-left {
    font-size: 1.2rem;
  }
  .nav-left svg {
    width: 26px;
    height: 26px;
  }
}

.cart {
  position: relative;
}

.cart-number {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: var(--clr-accent);
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  color: var(--clr-primary);
  font-weight: 600;
  font-size: 0.8rem;
}

.dropdown {
  position: relative;
}

.lang-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  background: var(--clr-card);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  box-shadow: 0 0 10px 1px var(--clr-secondary);
  opacity: 0;
  z-index: 100;
  -webkit-animation: dropdown 0.5s ease forwards;
  animation: dropdown 0.5s ease forwards;
}

@-webkit-keyframes dropdown {
  to {
    transform: translate(-50%, 20%);
    opacity: 1;
  }
}

@keyframes dropdown {
  to {
    transform: translate(-50%, 20%);
    opacity: 1;
  }
}

.lang-box button {
  background: var(--clr-card);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  gap: 0.5rem;
  font-size: 1.125rem;
  width: 100%;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  color: var(--clr-icon);
}

.lang-box button:hover,
.lang-box button:focus-visible {
  cursor: pointer;
  background: var(--clr-card-hover);
}

.out-lang {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 99;
}
